* {
  font-family: "Epilogue", sans-serif;
  font-family: "Mulish", sans-serif;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@mixin text-bold {
  $primary-color: #2d2d2d;
  font-weight: 600;
}

@mixin text-light {
  $primary-color: #2d2d2d;
  font-weight: 400;
}

$primary-color: #2d2d2d;

// navbar

nav {
  a.navbar-brand {
    @include text-bold();
    font-size: 22px;
  }

  .navbar-nav {
    a {
      @include text-light();
      color: $primary-color !important;
      font-size: 19px;
      margin: 0 1.5rem;
    }
  }
}

// about

.about {
  background-color: #f9e6f0;
  .profile {
    padding: 12rem 0;
    .persona {
      img {
        border: solid black 2px;
      }
      h2 {
        margin-top: 1.5rem;
        font-size: 17px;
        @include text-bold();
        line-height: 5px;
      }
      p {
        font-size: 17px;
        @include text-light();
        line-height: 27px;
      }
    }
    .text-persona {
      h2 {
        margin-top: 4rem;
        font-size: 17px;
        @include text-bold();
        line-height: 15px;
      }
      p {
        font-size: 17px;
        @include text-light();
        line-height: 27px;
      }
    }
  }
}

// main

.main {
  .row {
    .text {
      h3 {
        margin-top: 5rem;
        margin-bottom: 4rem;
        font-size: 32px;
        @include text-bold();
        line-height: 40px;
        letter-spacing: 0.2px;
      }
      p:nth-child(even) {
        width: 98%;
        background-color: #009379;
        height: 36px;
        line-height: 36px;
        color: #f6dce9;
      }
    }
  }
}

// footer

footer {
  .container {
    margin-top: 12rem;
    border-top: 3px solid #ccc;
    .row {
      .header-footer {
        h1 {
          margin-top: 5.5rem;
          font-size: 35px;
          @include text-bold();
          line-height: 27px;
        }
        p {
          margin-top: 3rem;
          font-size: 17px;
          @include text-light();
          line-height: 27px;
          width: 345px;
        }
        .icon {
          margin-top: 3rem;
          font-size: 28px;
          i:nth-child(1) {
            margin-right: 10px;
          }
          i:nth-child(2) {
            margin: 0 10px;
          }
          i:nth-child(3) {
            margin: 0 10px;
          }
          i:nth-child(4) {
            margin: 0 10px;
          }
          i:nth-child(5) {
            margin: 0 10px;
          }
        }
      }
      .field {
        margin-top: 5.5rem;
        .container-input {
          form {
            input[type="text"],
            select {
              width: 100%;
              padding: 20px 20px;
              margin: 12px 0;
              display: inline-block;
              border: none;
              background-color: #f3f3f3;
              font-size: 18px;
            }
            input[type="textarea"],
            select {
              width: 100%;
              padding: 100px 20px;
              margin: 12px 0;
              display: inline-block;
              border: none;
              background-color: #f3f3f3;
              font-size: 18px;
            }
            input[type="submit"] {
              background-color: #2d2d2d;
              color: white;
              padding: 20px 80px;
              margin: 24px 0;
              border: none;
              cursor: pointer;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

// Media Query
// Handphone

@media only screen and (max-width: 576px) {
  // nav

  nav {
    a.navbar-brand {
      margin-left: -2.5rem;
    }
  }

  // main

  .main {
    .text {
      p {
        margin: 0.5rem 0;
      }
      p:nth-child(even) {
        height: 70px !important;
        width: 98%;
        background-color: #009379;
        color: #f6dce9;
      }
    }
  }

  // footer

  footer {
    .header-footer {
      text-align: center;
    }
  }
}
